<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TagGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <TagGenerator.Properties.Settings>
            <setting name="CharSpacing" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ClearanceHeight" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="EngravingDepth" serializeAs="String">
                <value>0.008</value>
            </setting>
            <setting name="FontFileName" serializeAs="String">
                <value>normal.cxf</value>
            </setting>
            <setting name="SpindleSpeed" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="RetractHeight" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="PlungeFeedRate" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CuttingFeedRate" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="TemplateFile" serializeAs="String">
                <value>50A.xml</value>
            </setting>
            <setting name="EngraverDiameter" serializeAs="String">
                <value>0.2</value>
            </setting>
        </TagGenerator.Properties.Settings>
    </userSettings>
</configuration>